main{
  background-color:#1C1C1C;
  .container{
    padding: 40px 0;
  }
  
  h2{
    color: white;
  }

  .box{
    width: 200px;
    // height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include center (justify);
    align-content: center;
    
    img{
      width: 100px;
      height: 100px
      // height: 100%;
    }
   
  }
  .div-button{
    @include center();

    button{
      text-transform: uppercase;
      color: white;
      background-color: $primary-color;
      padding: 10px 40px;
      cursor: pointer;
      border: 1px solid black;
      margin-bottom: 30px;

    }
  }

 
  
  
}